.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  justify-content: center;
}
.gallery-item {
}
.gallery-image {
  width: 400px;
  height: auto;
}
